/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html, body, #root {
    height: 100vh;
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 84px;
    display: inline-grid;
}

#journal-icon {
    background-image: url('./localImages/icons8-journal-64.png');
    height: 64px;
    width: 64px;
    display: inline-block;
}

.button.ui.button, body > div.ui.page.modals.dimmer.transition.visible.active > div > div.actions > button {
    background-color: #FFA83B !important;
    color: white;
}

.button.ui.icon.button, body > div.ui.page.modals.dimmer.transition.visible.active > div > div.actions > button.ui.icon.inverted.left.floated.button {
    background-color: white !important;
}

#login_page {
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255, 1)), url('./localImages/snazzy-image.png');
    height: 90vh;
    justify-content: center;
}

#root > div:nth-child(2) > div > div.ui.sticky > h2 {
    width: max-content;
}
#root > div:nth-child(1) > div > div:nth-child(1) > div > div.sub.header {
    margin-left: 10px;
    display: inline-grid;
}

.header {
    background-color: white !important;
    margin-bottom: 1rem !important;
}

.menu {
    background-color: white !important;
}

.group_col {
    width: 45%;
    height: max-content;
    margin: 0 2vh 5vh 2vh;
    padding: 2vh;
    border: 1px lightgray solid;
    border-radius: 5px;
    box-shadow: 1px 3px 5px lightgray;
}

.group_journal {
    width: 100% !important;
}

.image_modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body > div.ui.page.modals.dimmer.transition.visible.active > div > div.content {
    margin: 0 !important;
}

.content {
    margin: 0 30px 0 10px !important;
}

.journal_images {
    cursor: pointer;
    max-height: 20vh;
    max-width: 40vh;
    width: auto;
    height: auto;
    box-shadow: 3px 5px 5px gray;
    margin: 10px;
}

.journal_image_modal {
    max-height: 90vh;
    max-width: 50vh;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.journal_images:hover {
    /* transform: scale(1.05); */
    opacity: 90%;
}

.image_container {
    max-width: 75%;
    max-height: 75%;
    scroll-behavior: auto;
}

#root > div:nth-child(2) > svg {
    transform: translateY(-20vh);
}

body>div.ui.page.modals.dimmer.transition.visible.active>div>div.actions>button {
    color: white;
    background-color: #FFA83B;
}

.error {
    color: red;
}

html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    margin: 3rem;
}

body {
    margin: 0;
    padding: 0 1.5rem;
}

svg {
    scale: 75%;
}

a :hover {
    opacity: 60%;
    background-color: black !important;
}

#root>div.ui.three.statistics>div:nth-child(1),
#root>div.ui.three.statistics>div:nth-child(2) {
    border-right: 1px lightgray solid;
}



/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFA83B;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffbb68;
  }