/* @tailwind base;
@tailwind components;
@tailwind utilities; */
html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    margin: 3rem;
}

#root {
    height: 90vh;
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 84px;
    display: inline-grid;
}

#journal-icon {
    background-image: url('./localImages/icons8-journal-64.png');
    height: 64px;
    width: 64px;
    display: inline-block;
}

#overall-background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1)), url('./localImages/background-image.png');
    background-attachment: fixed;
    min-height: 100vh;
    /* background-repeat:repeat-x; */
    /* background-size: cover; */
}

.button.ui.button,
body>div.ui.page.modals.dimmer.transition.visible.active>div>div.actions>button {
    background-color: #FFA83B !important;
    color: white;
}

.button.ui.icon.button,
body>div.ui.page.modals.dimmer.transition.visible.active>div>div.actions>button.ui.icon.inverted.left.floated.button {
    background-color: white !important;
}

#login_page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1)), url('./localImages/snazzy-image.png');
    height: 90vh;
    justify-content: center;
}

#root>div:nth-child(2)>div>div.ui.sticky>h2 {
    width: max-content;
}

#root>div:nth-child(1)>div>div:nth-child(1)>div>div.sub.header {
    margin-left: 7%;
    display: inline-grid;
}

.header.wander {
    width: 100%;
}

.header {
    background-color: white !important;
    width: max-content;
    padding-bottom: 1rem !important;
}

.menu {
    background-color: white !important;
}

.group-container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    align-content: stretch !important;
    margin-top: 25px !important;
}

.group_col {
    background-color: white !important;
}

.state-selector {
    background-color: white;
    width: max-content;
}

.group_col, .my_journal {
    width: 47% !important;
    height: max-content !important;
    margin: 0 2vh 2vh 2vh !important;
    padding: 2vh !important;
    border: 1px lightgray solid !important;
    border-radius: 5px !important;
    box-shadow: 1px 3px 5px lightgray !important;
}

.group_journal {
    display: flex;
    width: 100% !important;
    padding-bottom: 15px !important;
}

.description {
    margin-bottom: 10px !important;
}

.image_modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body>div.ui.page.modals.dimmer.transition.visible.active>div>div.content {
    margin: 0 !important;
}

.content {
    margin: 0 30px 0 10px !important;
}

.journal_images {
    cursor: pointer;
    max-height: 40vh;
    max-width: 20vh;
    width: auto;
    height: auto;
    box-shadow: 3px 5px 5px gray;
    margin: 10px;
}

.journal_image_modal {
    max-height: 90vh;
    max-width: 50vh;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.journal_images:hover {
    /* transform: scale(1.05); */
    opacity: 90%;
}

.image_container {
    max-width: 75%;
    max-height: 75%;
    scroll-behavior: auto;
}

#overall-background > div:nth-child(2) > svg {
    transform: translateY(-20vh);
}

.header.card-header {
    width: 100%;
    padding-bottom: 0 !important;
}

body>div.ui.page.modals.dimmer.transition.visible.active>div>div.actions>button {
    color: white;
    background-color: #FFA83B;
}

.error {
    color: red;
}

svg {
    scale: 75%;
}

a :hover {
    opacity: 60%;
    background-color: black !important;
}

#root>div.ui.three.statistics>div:nth-child(1),
#root>div.ui.three.statistics>div:nth-child(2) {
    border-right: 1px lightgray solid;
}

.sub.header {
    margin-top: 0.5vw !important;
    margin-left: 5.5vw !important;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFA83B;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffbb68;
}

