#title {
    font-family: 'Pacifico', cursive;
    font-size: 72px;
    display: inline-grid;
}

#root>div>div:nth-child(1)>div>div.sub.header {
    margin-left: 10px;
    display: inline-grid;
}

.header {
    margin-bottom: 1rem !important;
}

.group_col {
    width: 45%;
    margin: 0 2vh 5vh 2vh;
    padding: 2vh;
    border: 1px lightgray solid;
}

.group_journal {
    width: 100% !important;
}

.image_modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.journal_images {
    cursor: pointer;
    max-height: 20vh;
    max-width: 40vh;
    width: auto;
    height: auto;
    box-shadow: 3px 5px 5px gray;
}

.journal_image_modal {
    max-height: 90vh;
    max-width: 100vh;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.journal_images:hover {
    transform: scale(1.05);
}

.image_container {
    max-width: 75%;
    max-height: 75%;
    scroll-behavior: auto;
}

#root>svg {
    transform: translateY(-20vh);
}

body>div.ui.page.modals.dimmer.transition.visible.active>div>div.actions>button {
    color: white;
    background-color: #FFA83B;
}

.error {
    color: red;
}

html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    margin: 3rem;
}

body {
    margin: 0;
    padding: 0 1.5rem;
}

svg {
    scale: 75%;
}

a :hover {
    opacity: 60%;
    background-color: black !important;
}

#root>div.ui.three.statistics>div:nth-child(1),
#root>div.ui.three.statistics>div:nth-child(2) {
    border-right: 1px lightgray solid;
}